<h1>{{title}}</h1>

<div *ngIf="(information$ | async) === {repoUrl : '', name : ''}; else elseBlock;  ">
    <repository-form></repository-form>
</div>
<ng-template #elseBlock>
    <ng-container *ngIf="information$ | async as information">
        <div> URL : {{information.repoUrl}}</div>
        <div>Name : {{information.name}}</div>
        <button (click)="resetInformation()">Reset Repository Url</button>
        <app-clone [information]="information"></app-clone>
    </ng-container>
</ng-template>


